* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;

}
#mainContainer {
   
    display: flex;
    background-color: rgb(162, 250, 250);
    width: 100vw;
    height: 30vh;
    margin: auto;
    
}

#gameContainer {
    background-color: rgb(236, 197, 145);
    width: 50%;
    height: 100%;
    margin: auto;
    display: flex;
}

.gridColumns {
    /* already flex display with JS */
    width: 33.3%;
    height: 100%;
    
}

#col0 {
    border-right: solid;
}

#col1 {
    border-right: solid;
}


#col0row0 ~ div { 
    border-top: solid;
}

#col1row0 ~ div {
    border-top: solid;
}

#col2row0 ~ div {
    border-top: solid;
}


.gridRowDiv {
    background-color: beige;
    width: 100%;
    height: 33.3%;
    display: flex;
    justify-content: center;
    align-items: center;
}